@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f7f4
}

.ql-editor {
  height: 200px !important;
}
img {
  max-width: 450px;
  max-height: 600px;
}
.ql-font-monospace {
  font-family: monospace !important;
}

.ql-size-large {
  font-size: x-large !important;
}

.ql-size-huge {
  font-size: xx-large !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
